<!DOCTYPE html>
<html lang="{{ .Lang }}">
{{ partial "head.html" . }}

<body>
{{partial "search.html" .}}
<div class="singlePage">
    {{partial "header.html" .}}
    {{$url := urls.Parse .Site.BaseURL }}
    

    <!-- navigation menu path -->
    {{$host := strings.TrimRight "/" $url.Path }}
    {{$curPage := strings.TrimPrefix $host (strings.TrimRight "/" .Page.RelPermalink)}}
    {{$path := split $curPage "/"}}
    {{$currPath := $url }}
    {{$backPath := $url }}
    <div class="navigation-menu">
    {{range $i, $p := $path}}
      {{$p = lower $p}}

      {{if eq $i (sub (len $path) 1)}}
      {{ $backPath = $url }}
       
      {{end}}

      {{if eq $i 0}}
        <a href="{{$currPath}}">home</a>
      {{else if eq $i 1}}
        {{$currPath = printf "%s%s" $currPath $p}}
        <a href="{{$currPath}}">{{$p}}</a>
      {{else}}
      {{$currPath = printf "%s/%s" $currPath $p}}
        <a href="{{$currPath}}">{{$p}}</a>
      {{end}}
      <span style="color:var(--gray)">/</span>
    {{end}}
    </div>
    <a href="{{$backPath}}" class="back-button">↩</a>

    <article>
      {{if .Title}}<h1>{{ .Title }}</h1>{{end}}
      <ul class="tags">
          {{ range (.GetTerms "tags") }}
          <li><a href="{{ .Permalink }}">{{ .LinkTitle | humanize }}</a></li>
          {{ end }}
      </ul>
      {{partial "toc.html" .}}
      {{partial "textprocessing.html" . }}
    </article>
    {{partial "footer.html" .}}
</div>
</body>

</html>
