<ul class="section-ul">
    {{- range . -}}
    <li class="section-li">
        <div class="section">
            
            <div class="desc">
                {{ $lastUrlElement := index (last 1 (split (delimit (split .Permalink "/") "," "") ",")) 0 }}
                <h3><a href="{{ .Permalink }}">{{$lastUrlElement}}</a></h3>
            </div>
            <div class="spacer"></div>
            <ul class="tags">
                {{ range (.GetTerms "tags") }}
                <li><a href="{{ .Permalink }}">{{ .LinkTitle | title}}</a></li>
                {{ end }}
            </ul>
        </div>
    </li>
    {{- end -}}
</ul>
